{% block top_menu %}
  <!-- todo: reconsider this class setting to become a part of some variable or so ... -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      {% block top_menu_navbar %}{% endblock %}
    </div>
  </nav>
{% endblock %}

{% block left_menu %}
  <div class="sidebar-wrapper sidebar-nav sidebar-left">
    {% block left_menu_content %}
    <!-- EXAMPLE: something like this .... replace with your code in some_page.swig using left_menu_content block 
        <div class='sidebar-brand'>
          <a> BRAND NAME </a>
        </div>
        <ul>
          <li><a>some_link</a></li>
        </ul>
    -->
    {% endblock %}
  </div>
{% endblock %}


{% block body %}
  <body data-ng-app="pb.app" ng-cloak class="ng-cloak" ng-class="state" data-allex-user-carrier='bla'>
    {% block top_menu %}{% endblock %}
    {% block left_menu %}{% endblock %}
    <section class="content">
      <div data-ui-view></div>
    </section>
    {% include '../includes/foot.html' %}
  </body>
{% endblock %}

<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml" itemscope="itemscope" itemtype="http://schema.org/Product">
  {% include '../includes/head.html' %}
  {% block body %}{% endblock %}
</html>

